{% extends "base_with_sidebar.html" %}

{% block page_content %}

    {% for key, driver in drivers.items  %}
        {% if driver.nr_of_routes > 1 %}

                <div class="col s12 m6 l4">
                  <div class="card driver-card teal darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Driver #{{ driver.driver_id }}</span>
                        <p> Total of {{driver.nr_of_routes}} routes </p>
                        <p> Active since {{ driver.first_route|date:"SHORT_DATE_FORMAT" }} </p>
                    </div>
                    <div class="card-action ">
                      <a href="{{driver.driver_id}}">Stats for this driver</a>
                    </div>
                  </div>
                </div>

        {% endif %}
    {% endfor %}

{% endblock %}