{% extends "base_with_sidebar.html" %}

{% load static %}
{% block page_content %}

    <div class = "row">
        <div class="col s12">
            <div class="col s12 m6 l4  payment_method_pie_graph_container">
                <h3> Pay methods </h3>
                <svg id = "payment_method_pie_graph"></svg>
            </div>
            <div class="col s12 m6 l4 travels_number_pie_graph_container">
                <h3> Distribution of passengers </h3>
                <svg id = "travels_number_pie_graph"></svg>
            </div>
            <div class="col s12 m6 l4  payment_dristribution_pie_graph_container">
                <h3> Distribution of payments </h3>
                <svg id = "payment_dristribution_pie_graph"></svg>
            </div>
        </div>
    </div>

    <div class = "row">
        <div class = "col s12 chart_graph_container">
            <h3>Distribution of routes</h3>
            <svg id = "chart_graph"></svg>
        </div>
    </div>

    <div class = "row">
        <div class = "col s12 chart_graph_pick_drop_24h_container">
            <h3> Distribution of pickups and dropoffs by hour </h3>
            <svg id = "chart_graph_pick_drop_24h"></svg>
        </div>
    </div>
    <div class = "row">
        <div class = "col s12 chart_graph_pass_24h_container">
            <h3> Distribution of the type of passengers by hour </h3>
            <svg id = "chart_graph_pass_24h"></svg>
        </div>
    </div>

    <script src = "{% static 'js/graph_creation.js' %} "></script>
    <script>
        function createTravelChart(){

            function create_fr_arr(data, label ){
                fr_arr = {}
                for (var i =0; i < data.length; i++ ) {
                    datetime = Date.parse( data[i][label] );

                    if( fr_arr[ datetime ] === undefined )
                        fr_arr[ datetime] = 1
                    else
                        fr_arr[ datetime]++;
                }
                return fr_arr;
            }

            function build_arr( fr_arr ){
                arr = [];
                keys = Object.keys(fr_arr).sort()
                for( i in keys){
                    key = keys[i];
                    arr.push({
                        x : key,
                        y : fr_arr[key]
                    });
                }
                return arr;
            }

            function create_graph( type, url ) {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        data = JSON.parse(this.response)["routes"];

                        fr_arr_p = create_fr_arr(data, "pickup_datetime");
                        fr_arr_d = create_fr_arr(data, "dropoff_datetime");

                        arr_pick = build_arr( fr_arr_p )
                        arr_drop = build_arr( fr_arr_d )

                        data_arr = [
                            {
                                "values": arr_pick,
                                "key": "Pickup"

                            },

                            {
                                "values": arr_drop,
                                "key": "Dropoff"

                            }
                        ]
                        createChartGraph(data_arr, "%d/%m/%y", "chart_graph","chart_graph_container");
                    }

                };
                xhttp.open("GET", url, true);
                xhttp.send();
            }

            create_graph("chart", "http://localhost:8000/endpoints/routes");
        }

        function createPies(){
            function create_graph( url, field, id, container, graph_type ) {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        data_arr = []
                        data_graph = []
                        data = JSON.parse(this.response)["data"][field];

                        for (key in data) {
                            obj = data[key];

                            for( type in obj ){
                                if( data_arr[ type ] === undefined)
                                    data_arr[ type ] = 0
                                data_arr[ type ] += obj[type]
                            }
                        }

                        for( key in data_arr ){
                            data_graph.push(
                                {
                                    "label": key,
                                    "value": data_arr[key]
                                }
                            )
                        }

                        createPieGraph(data_graph, id, container, graph_type );


                    }
                }
                xhttp.open("GET", url, true);
                xhttp.send();
            }

            create_graph("http://localhost:8000/endpoints/general", "pay_type", "payment_method_pie_graph", "payment_method_pie_graph_container" );
            create_graph("http://localhost:8000/endpoints/general", "pass_type", "travels_number_pie_graph", "travels_number_pie_graph_container" );
            create_graph("http://localhost:8000/endpoints/general", "pay_amount", "payment_dristribution_pie_graph", "payment_dristribution_pie_graph_container", "number" );
            create_graph("http://localhost:8000/endpoints/general", "pay_type", "pie_graph", "pie_graph_container" );
        }

        function createDistributions(){

            function create_graph( url ) {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        data = JSON.parse(this.response)["data"];

                        arrPick = []
                        arrDrop = []
                        arrSgPass = []
                        arrGrPass = []

                        for(key in data["pick"]){
                            arrPick.push( {x:parseInt(key), y:data["pick"][key]} )
                            arrDrop.push( {x:parseInt(key), y:data["drop"][key]} )
                            arrSgPass.push( {x:parseInt(key), y:data["pass_type"][key]["sg"]} )
                            arrGrPass.push( {x:parseInt(key), y:data["pass_type"][key]["gr"]} )
                        }

                        data_arr = [
                            {
                                "values": arrPick,
                                "key": "Pickup"
                            },

                            {
                                "values": arrDrop,
                                "key": "Dropoff"
                            }
                        ]
                        pass_arr = [
                            { "values" : arrSgPass, "key" : "Single Passengers" },
                            { "values" : arrGrPass, "key" : "Groups of Passengers" },
                        ]

                        createChartGraph(data_arr, "", "chart_graph_pick_drop_24h","chart_graph_pick_drop_24h_container", false);
                        createChartGraph(pass_arr, "", "chart_graph_pass_24h","chart_graph_pass_24h_container", false);
                    }

                };
                xhttp.open("GET", url, true);
                xhttp.send();

            }

            create_graph( "http://localhost:8000/endpoints/general" )

        }

        createTravelChart();
        createPies();
        createDistributions();

    </script>


{% endblock %}