{% extends "base_with_sidebar.html" %}

{% load static %}

{% block page_content %}


    <div class = "row">

        <div class = "col s12">
            <h3> Car #{{car_id}} </h3>
        </div>

        <div class = "col s12 m4">
            <div class = "col s12">
                <ul class="collection with-header">
                    <li class="collection-header"><h4>Drivers on service</h4></li>
                    {% for driver in drivers %}
                        <a href="/analyze/drivers/{{driver.driver_id}}" class="collection-item">
                            Driver #{{driver.driver_id}} on {{ driver.pickup_datetime|date:"d/m/Y H:i" }}
                        </a>
                    {% endfor %}
                </ul>

            </div>

            <div class = "col s12">
                <ul class="collection with-header">
                    <li class="collection-header"><h4>Longest routes</h4></li>
                    {% for route in routes %}
                        <a href="/analyze/routes/{{route.id}}" class="collection-item">
                            Route #{{ route.id }}, {{ route.trip_distance }} Km
                        </a>
                    {% endfor %}
                </ul>

            </div>
        </div>

        <div class = "col s12 m8">

            <div class = "col s12 m12 l6 right pie_graph_container">

                <svg id = "pie_graph"></svg>

            </div>

        </div>

    </div>

    <div class = "row s12 chart_graph_container">

        <svg id = "chart_graph"></svg>

    </div>


<script src = "{% static 'js/graph_creation.js' %} "></script>
<script>
    function create_graph( type, url ) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                data = JSON.parse(this.response);
                data_arr = []
                if( type == "pie" ) {
                    for (key in data) {
                        data_arr.push(
                            {
                                "label": key,
                                "value": data[key]
                            }
                        )
                    }
                    createPieGraph(data_arr);
                }else{

                    arr = []
                    for (var i =0; i < data["routes"].length; i++ ) {

                        obj = data["routes"][i];
                        date = Object.keys( obj )[0];
                        routes = obj[date];


                        arr.push( { x : Date.parse( date ), y: parseInt( routes ) } )
                    }

                    data_arr = [
                        {
                            "values": arr,
                            "key": "Routes"

                        }
                    ]
                    createChartGraph(data_arr, "%d/%m/%y");
                }
            }
        };
        xhttp.open("GET", url, true);
        xhttp.send();
    }

    create_graph("pie", "http://localhost:8000/endpoints/cash_card/car/{{ car_id }}");
    create_graph("chart", "http://localhost:8000/endpoints/routes_count/car/{{ car_id }}");
</script>

{% endblock %}