{% extends "base_with_sidebar.html" %}

{% load static %}

{% block page_content %}

    <div class = "row">
        <div class = "col s12">
            <h2> Common pickup locations </h2>
            <div id="map_pickup"></div>
        </div>
    </div>

    <div class = "row"></div>

    <div class = "row">
        <div class = "col s12">
            <h2> Common drop locations </h2>
            <div id = "map_drop"></div>
        </div>
    </div>

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2DoguIu91HZB3c_osKxcVsu2beSDoSDQ&libraries=visualization">
    </script>

    <script>
        function create_graph( url ) {

            // get the center point through kmeans
            // set the map to the center point
            var centerPickup = new google.maps.LatLng(40.756519, -73.975456);
            var centerDrop = new google.maps.LatLng(40.756519, -73.975456);

            // get the data from endpoints
            pickupData = []
            dropData = []

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {

                    data = JSON.parse(this.response)["routes"];

                    for( var i = 0; i < data.length; i++ ){

                        console.log(parseFloat( data[i]["pickup_long"] ));

                        pickupPoint = new google.maps.LatLng( parseFloat( data[i]["pickup_lat"] ), parseFloat( data[i]["pickup_long"]));
                        dropoffPoint = new google.maps.LatLng( parseFloat(data[i]["dropoff_lat"]) , parseFloat(data[i]["dropoff_long"]) );

                        pickupData[i] = pickupPoint;
                        dropData[i] = dropoffPoint;
                    }

                }
            };

            mapPickup = new google.maps.Map(document.getElementById('map_pickup'), {
              center: centerPickup,
              zoom: 7,
              mapTypeId: google.maps.MapTypeId.HYBRID,
                labels:true
            });

            mapDrop = new google.maps.Map(document.getElementById('map_drop'), {
              center: centerDrop,
              zoom: 7,
              mapTypeId: google.maps.MapTypeId.HYBRID,
                labels:true

            });

            var heatmapPick = new google.maps.visualization.HeatmapLayer({
              data: pickupData,
                map:mapPickup,
            });
            var heatmapDrop = new google.maps.visualization.HeatmapLayer({
              data: dropData,
                map:mapDrop,
            });

            heatmapPick.setMap(heatmapPick.getMap())
            heatmapDrop.setMap(heatmapDrop.getMap())

            xhttp.open("GET", url, true);
            xhttp.send();
        }

    create_graph( "http://localhost:8000/endpoints/routes");


    </script>


{% endblock %}