footer{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #008080;
}
nav{
    background-color: #008080;
    padding: 10px;
    height: 80px;
}

.navbar-fixed{

    z-index: 999!important;
}

body{
    height: 100vh!important;
}

.main-content{
    min-height: 100%;
    height: auto;
    position: relative;
}


.page-footer{
    background-color: #008080;
}

.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
    margin-top: -5px;
    height: 100%;
}

.content-analyze {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  .content-analyze {
    padding-left: 0;
  }
}


.landing_photo{
    background-image: url("/static/images/landing.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
}

.welcome_text{
    color: white;
}

.welcome_title{
    margin-top: 200px;
}

.welcome_title_tablet{
    margin-top: 175px;
    background-color: rgba(0, 150, 136, 0.4);
}

.breaker{
    background-color: teal;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: -20px;
}

.values{
    padding-bottom: 20px;
}

.values_title_container{
    text-align: center;
    padding-bottom: 20px!important;
    color:#757575;
}

.values_container{
    text-align: center;
    padding-left: 50px!important;
    padding-right: 50px!important;
    color: #757575;
    margin-bottom: 10px;
}

.values-icon i{
    font-size: 100px;
}

.values-title{
    font-size: 20px;
    margin-bottom: 15px;
}

.values-description{
    font-size: 16px;
}

.values_data_link, .values_data_link:hover, .values_data_link:active, .values_data_link:visited{
    color: #757575;
    text-decoration: none;
}

.parallax-container{
    height: 200px;
}

.services{
    margin-bottom: 50px;
}

.services_title_container{
    text-align: center;
    color: #757575;
}

.services_colapsible{
    color: #757575;
}

.card{
    text-align: center;
    min-height: 270px;
}

.card-image i{
    font-size: 100px;
    margin-top: 10px;
}

#map {
    height: 600px;
}

#map_pickup{
    min-height: 70vh;
}

#map_drop{
    min-height: 70vh;
}

.contact_title{
    text-align: center;
    color: #757575;
}

.sidenav{
    z-index: 998!important;
    padding-top: 100px;
    background-color: #008080;
    height: 100%;
    overflow-y: auto;
}

.sidenav > li > a, .sidenav > li > a > i {

    color: white !important;
}

.main-analyze-content{
    margin-top: 30px;
}

.driver-card{
    text-align: left;
    min-height: auto;
}

.driver-card a{

    color: white!important;
}

svg{
    width: 100%;
    height: auto;
}
