{% extends "base.html" %}


{% block content %}


    <div class = "container-fluid content-analyze">

        <div class = "row">

            <ul id="sidenav" class="sidenav sidenav-fixed">

                <li><a href="/analyze/">Main page</a></li>


                <li><a class="subheader">Routes</a></li>
                <li><div class="divider"></div></li>

                <li><a href="/analyze/common-area"><i class="material-icons">place</i>Common areas</a></li>
                <li><a href="/analyze/highest-pay"><i class="material-icons">attach_money</i>Areas with the highest pay</a></li>


                <li><a class="subheader">Drivers</a></li>
                <li><div class="divider"></div></li>

                <li><a href="/analyze/drivers"><i class="material-icons">people</i>All Drivers</a></li>


                <li><a class="subheader">Cars</a></li>
                <li><div class="divider"></div></li>

                <li><a href="/analyze/cars"><i class="material-icons">directions_car</i>All cars</a></li>

                <li><a class="subheader">Routes</a></li>
                <li><div class="divider"></div></li>
                <li style = "margin-bottom: 10px;"><a href="/analyze/routes"><i class="material-icons">map</i>All routes</a></li>

            </ul>

        </div>

        <div class = "row">

            <div class = "col s12 main-analyze-content">
                {% block page_content %}

                {% endblock page_content %}
            </div>

        </div>

    </div>

{% endblock %}